#descriptions{
    margin-top:70px;
}
.show_main{
    width:600px;
    height:400px;
    overflow:hidden;
}
.show_bottom{
    margin-left:320px;
}
.show_bottom img{
    float:left;
    width:100px;
    margin-bottom:14px;
}